{% extends 'base.html' %}
{% block content %}
{% comment %} <form method="post">
    {% csrf_token %}
    {{form}}
    <button type="button" class="btn btn-primary">Primary</button>
 </form>  {% endcomment %}
 <form method="post">
   {% csrf_token %}
   {{form}}
   <button type="button" class="btn btn-primary">Primary</button>
</form>

 <form method="post">
   {% csrf_token %}
       {{form}}
       <button type="submit" class="btn btn-primary">Submit</button>
   </form>



 {% comment %} {{form}} {% endcomment %}
{% endblock %}