{% extends 'base.html' %}

{% block content %} 
<div class="row d-flex flex-wrap justify-content-center px-5 pt-3">


    {% for item in data %}
    <div class="col-sm-3">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">{{item.title}}</h5>
            <p class="card-text">{{item.content}}</p>
            <p>Author : {{item.author.name}}</p>
            <p>
                {% for cat in item.category.all %}
                <button class="btn btn-primary btn-sm" disabled>{{cat.name}}</button>
                {% endfor %}
            </p>
            <a href="{% url 'edit_posts' item.id %}" class="btn btn-success">Edit</a>
            <a href="{% url 'delete_posts' item.id %}" class="btn btn-danger" >Delete</a>
          </div>
        </div>
      </div>
    {% endfor %}
   
  </div>
{% endblock %}